<div class="footer__custom">
  <p class="title">Contactate con nosotros</p>
  <div class="footer__custom-container">

    <div class="footer__custom-item">
      <span>Atención Comercial</span>
      <a href="https://wa.me/+541122553560?text=hola..." class="whatsapp-float" target="_blank" rel="noopener">
        <div class="pill-container">
          <img width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp"/>
          <p>+541122553560</p>
        </div>
      </a>
    </div>

    <div class="footer__custom-item">
      <span>Atención Distributores</span>
      <a href="https://wa.me/+541122553560?text=hola..." class="whatsapp-float" target="_blank" rel="noopener">
        <div class="pill-container">
          <img width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp"/>
          <p>+541122553560</p>
        </div>
      </a>
    </div>
  </div>
</div>