<div class="footer__custom">
  <p>Contactate con nosotros</p>
  <div class="footer__custom-container">

    <div class="footer__custom-item">
      <span>Atención comercial</span>
      <a href="https://wa.me/+541122553560?text=hola..." class="whatsapp-float" target="_blank" rel="noopener">
        <img width="48px" height="48px" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp"/>
        <p>+541122553560</p>
      </a>
    </div>

    <div class="footer__custom-item">
      <span>Atención comercial</span>
      <a href="https://wa.me/+541122553560?text=hola..." class="whatsapp-float" target="_blank" rel="noopener">
        <img width="48px" height="48px" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp"/>
        <p>+541122553560</p>
      </a>
    </div>
  </div>
</div>