<div class="footer__custom">
  <p class="title">Contactate con nosotros</p>
  <div class="footer__custom-container">

    <div class="footer__custom-item">
      <span>Atención Comercial</span>
      <a href="https://wa.me/+5491155834891?text=Hola me contacto con ustedes por atencion comecial" class="whatsapp-float" target="_blank" rel="noopener">
        <div class="pill-container">
          <img width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp"/>
          <p>+54 11 5583-4891</p>
        </div>
      </a>
    </div>

    <div class="footer__custom-item">
      <span>Atención Distributores</span>
      <a href="https://wa.me/+541165434769?text=Hola me contacto con ustedes por atencion para distribuidores" class="whatsapp-float" target="_blank" rel="noopener">
        <div class="pill-container">
          <img width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp"/>
          <p>+54 11 6543-4769</p>
        </div>
      </a>
    </div>
  </div>
</div>